/* RESET */
:root {
  --darker: #040b14;
  --dark: #212431;
  --light: #f5f8fd;
  --lighter: #fff;
  --primary: #149ddd;
  --primary-lighter: #e4edf9;
  --primary-disabled: #dce8f8;
  --primary-light: #c3e8fa;
  --primary-dark: #1f5297;
  --text-light: #a8a9b4;
  --text-neutral: #999;
  --text-dark: #272829;
}

* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

h1 {
  font-size: 64px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

h5,
h6,
p {
  font-size: 16px;
}
/* /RESET */

/* ESTRUTURA */
body {
  display: flex;
  flex-flow: row nowrap;
  min-height: 100vh;
}

header {
  background-color: var(--darker);
  display: none;
  flex: 0 1 0;
  min-height: 100vh;
}

main {
  background-color: var(--lighter);
  flex: 1 0 100%;
  min-height: 100vh;
}

section {
  padding: 60px 16px;
}

section#skills,
section#portfolio,
section#testimonials {
  background-color: var(--light);
}

section#hero {
  align-items: flex-start;
  background-image: url("./images/hero-bg.jpg");
  background-position: center;
  background-size: cover;
  color: var(--lighter);
  display: flex;
  flex-flow: column nowrap;
  height: 100vh;
  justify-content: center;
  padding: 16px 48px;
  width: 100vw;
}

section#hero h1,
section#hero p {
  font-size: 2rem;
}

section#hero p::after {
  animation-name: papeis;
  animation-duration: 12s;
  animation-iteration-count: infinite;
  content: "dev";
  margin-left: 8px;
  border-bottom: 4px solid var(--primary);
}

@keyframes papeis {
  0% {
    content: "d";
  }
  2% {
    content: "de";
  }
  4% {
    content: "dev";
  }
  25% {
    content: "m";
  }
  27% {
    content: "mú";
  }
  29% {
    content: "mús";
  }
  31% {
    content: "músi";
  }
  33% {
    content: "músic";
  }
  35% {
    content: "músico";
  }
  50% {
    content: "p";
  }
  52% {
    content: "pr";
  }
  54% {
    content: "pro";
  }
  56% {
    content: "prof";
  }
  75% {
    content: "d";
  }
  77% {
    content: "da";
  }
  79% {
    content: "da p";
  }
  81% {
    content: "da pa";
  }
  83% {
    content: "da paz";
  }
}

/* /ESTRUTURA */

/* MEDIA QUERIES */
@media only screen and (min-width: 1200px) {
  header {
    display: flex;
    flex: 0 0 300px;
  }
  main {
    flex: 1 1 calc(100% - 300px);
  }
  section#hero {
    background-size: cover;
    background-attachment: fixed;
  }
  section#hero h1 {
    font-size: 4rem;
  }
}
